/************************  SCREEN BREAKPOINT  ***********************/
@media only screen and (max-width: 575px) {

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) {
  /* common class */
  .wrap {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  /* /common class */
  /* navbar */
  .navbar {
    height: 70px;
  }
  .navbar-wrap {
    width: 80%;
  }
  /*.navbar-wrap-btn {
    width: 35px;
  }
  .navbar-wrap-btnBar {
    height: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
  }*/
  .navbar-wrap-logo {
    font-size: 2rem;
  }
  /* /navbar */
  /* home */
  .sub-navbar-wrap {
    width: 80%;
  }
  .sub-navbar-wrap-location {
    font-size: 2rem;
  }
  .home-slogan-title {
    font-size: 2rem;
  }
  .home-slogan-subtitle {
    font-size: 1.5rem;
  }
  .home-process-flowchart {
    flex-direction: row;
    width: 90%;
  }
  .flowchart-item {
    justify-content: center;
    font-size: 1.2rem;
  }
  .home-contact-author {
    width: 50%;
  }
  .home-contact-media-wrap {
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /* play */
  .play-workarea-tattoo,
  .play-workarea-options {
    width: 80%;
  }
  .customizationMsg1 {
    grid-area: steps;
  }
  .customizationMsg2 {
    grid-area: rules;
  }
  .customizationMsg3 {
    grid-area: payment;
  }
  .customizationInfo {
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;
    grid-template-areas:
      "steps rules"
      "payment payment";
  }
  /* /play */

  /* cart */
  .cart-goods-collection {
    grid-template-columns: 45% 45%;
    grid-column-gap: 20px;
  }
  /* /cart */
  /* nav wrap */
  .nav-wrap-item {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  /* nav wrap */

  /* home value */
  .home-vlue-wrap {
    height: 700px;
    background-attachment: fixed;
  }
  /* /home value */
}
/*@media only screen and (min-width: 991px) and (max-width: 1199px) {}*/
@media only screen and (min-width: 1200px) {
  /* cart */
  .cart-goods-collection {
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 20px;
  }
  /* /cart */
  /* play */
  .play-workarea-tattoo,
  .play-workarea-options {
    width: 60%;
  }
  /* /play */

  /* nav wrap */
  .nav-wrap-item {
    font-size: 4rem;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  /* nav wrap */
}
